**/node_modules
.DS_Store
npm-debug.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo
tsconfig*.tsbuildinfo
*.map

# config files
.node-version
.editorconfig
.eslintrc.cjs
.prettierignore
.prettierrc.json
tsconfig*json
!tsconfig.build.json
.vscode/**

# TypeScript files
# *.ts
# !*.d.ts

# tests
tests/**

# npm pack
*.tgz
