**/node_modules
.DS_Store
npm-debug.log*
.pnpm-debug.log*
tsconfig.tsbuildinfo
tsconfig*.tsbuildinfo
*.map

# config files
.node-version
.editorconfig
.eslintrc.cjs
.prettierignore
.prettierrc.json
tsconfig*json
!tsconfig.json
!tsconfig.build.json
.vscode/**
.github/**

# TypeScript files
# *.ts
# !*.d.ts

# tests
tests/**

# other
tests/**
docs/**
typedoc.json
**/*.config.*

# npm pack
*.tgz
